.artistsContainer{
  margin-top: 2.3rem;

  .artistsList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.188rem;

    .artist{
      width: 8.625rem;
      text-align: center;
      position: relative;
      max-width: min-content;

      a {
        width: inherit;
        
        img{
          width: 8.625rem;
          height: 8.625rem;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      p{
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      
      span{
        font-size: 0.8rem;
        margin-top: 0.5rem;
        font-weight: normal;
      }
    }
  }
}