.wrapper{
  display: flex;

  main{
      flex: 1;
      width: calc(100vw - 26.5rem);
      scroll-behavior: smooth;
  }
}

.container{
  overflow-y: scroll;
  height: calc(100vh - 6.5rem);
  position: relative;

  &::-webkit-scrollbar{
    width: 4px;
    background: transparent;
  }

  &::-moz-scrollbar{
    width: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background: var(--gray-200);
    border-radius: 5px;
    height: 5px;
  }

  .topBackgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    height: 14rem;
    width: 100%;
    background: #41414D;

    img{
      height: inherit;
      width: inherit;
      object-fit: cover;
      opacity: 0.6;
    }
  }
}

.album {
  max-width: 53rem;
  padding: 3rem 0;
  margin: 0 auto;

  .albumContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(
      45deg
      , #FFA800, #FF6400);
    border-radius: 10px;
    margin-bottom: 1rem;
    

    .sideButton{
      width: 3rem;
        height: 3rem;
        border-radius: 0.75rem;
        border: 0;
        position: absolute;
        z-index: 5;
        font-size: 0;
        transition: filter 0.2s;

        &:first-child {
          left: 0;
          top: 50%;
          background: var(--orange-600);
          transform: translate(-50%, -50%);
        }
  
        &:last-child {
          right: 0;
          top: 50%;
          background: var(--green-500);
          transform: translate(50%, -50%);
        }
  
        &:hover {
          filter: brightness(0.9);
        }
    }

    .imageContainer{
      max-height: 27rem;
      max-width: 27rem;
      img{
        max-height: 100%;
        border-radius: 10px 0 0 10px;
      }


      .favstarContainer{
        position: absolute;
        top: 0;
        right:0;
        z-index: 5;
        padding: 1rem;
  
        button{
          width: 2rem;
          height: 2rem;
          background: transparent;
          border: none;
          transition: filter 0.2s;
  
          img{
            width: 100%;
          }
  
          &:hover{
            filter: brightness(0.8);
          }
        }
      }
    }

    .tracksContainer{
      max-height: 27rem;
      max-width: 27rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      overflow: hidden;
     
      h5{
        font-weight: 400;
      }

      .trackList{
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        
        overflow-y: auto;
        max-height: 80%;
        width: 100%;

        &::-webkit-scrollbar{
          width: 2px;
          background: transparent;
        }

        &::-moz-scrollbar{
          width: 2px;
          background: transparent;
        }

        &::-webkit-scrollbar-thumb{
          background: #fff;
          border-radius: 5px;
          height: 5px;
        }
 
        div{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #41414D;
          padding: 0.5rem 0;
          margin-right: 0.5rem;
          strong{
            color: #fff;
          }

          span{
            color: #fff;
          }

          button{
            background: transparent;
            border: none;
          }
        }

      }
      p{
        margin-top: 2rem;
        font-size: 0.8rem;
      }
    }
  }

  .similarAlbumsContainer{
    margin-top: 2.3rem;

    .albumsList{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-top: 1.188rem;

      .album{
        width: 8.625rem;
        text-align: center;
        position: relative;
        max-width: min-content;

        img{
          width: inherit;
        }
      }

    }
    footer{
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;

      button{
        background: transparent;
        border: none;
        transition: filter 0.4s;

        img{
          height: 2rem;
          width: 2rem;
        }

        &:hover{
          filter: brightness(0.9);
        }
      }
    }
  }
}