.albumsContainer{
  margin-top: 2.3rem;

  .albumsList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.188rem;

    .album{
      width: 8.625rem;
      text-align: center;
      position: relative;
      max-width: min-content;

      a {
        width: inherit;
        
        img{
          width: inherit;
        }
      }

      p{
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      
      span{
        font-size: 0.8rem;
        margin-top: 0.5rem;
        font-weight: normal;
      }
    }
  }

  footer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;

    button{
      background: transparent;
      border: none;
      transition: filter 0.4s;

      img{
        height: 2rem;
        width: 2rem;
      }

      &:hover{
        filter: brightness(0.9);
      }
    }
  }
}